.Header { 
  display: block; 
  align-items: normal; 
  text-align: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  /* border: 10px; */
  height: 60px;
}

.Header h1 {
  margin: 0;
  text-align: center;
  font-size: xl-large;
  /* padding: 5px; */
}

.Header h1 a { 
  text-decoration: none;
}

.Header nav a { 
  color: black;
  font-size: larger;
}

.Header nav{
  padding-top: 23px;
}

.Header a{ 
  color: silver;
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
    height: 60px;
  }
  .Header h1 {
    font-size: xx-large;
    text-align: center;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}

@media screen and (min-width: 700px){
  .Header nav {
    font-size: large;
  }
}